@model IEnumerable<LibraryApp.AppServices.Authors.DTO.GetAuthorOutput>
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<form action="/Will/Register" method="post">
		<div>
			<ul></ul>
			@foreach (var x in Model)
			{
				<li>
					@x.DisplayName
				</li>
			}
			</ul>

		</div>
		<input type="button" value="New" onclick="@("window.location.href='" + @Url.Action("New", "Will") + "'");" />

	</form>
</body>
</html>
